* 
    box-sizing: border-box
    user-select: none   

@font-face 
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-Regular.ttf')
    font-weight: regular

@font-face 
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-SemiBold.ttf')
    font-weight: bold

html
    font-family: "MontserratT"
    font-weight: regular
    


body::-webkit-scrollbar 
  width: 12px/* Ширина вертикального скролла */
  height: 12px /* Высота горизонтального скролла */


body::-webkit-scrollbar-thumb 
  background-color:  #FF662C/* Цвет ползунка */
  border-radius: 6px /* Скругленные края */
  border: 3px solid #f0f0f0 /* Отступы вокруг ползунка */


body::-webkit-scrollbar-track 
  background-color: #988C8C /* Цвет трека (заднего фона скроллбара) */
  border-radius: 6px
  display: none


$color-blue: #2778F6
$color-orange: #FF662C
$color-grey: #988C8C
$gradient: linear-gradient(45deg, rgb(65, 121, 226) 4%, rgb(77, 58, 58) 48%, rgb(255, 102, 44) 97%)

.container
    max-width: 1440px
    margin: 0 auto
    max-height: 900px
    position: relative

    
.main-section
    min-height: 800px
    background: #F0F0F0
    padding-top: 16px
    position: relative
    overflow: hidden
    &__nav-container
        display: flex
        flex-direction: row 
        justify-content: space-between
        height: 69px
        align-items: center
        padding-right: 20px
        &__logo
            width: 134px
    &__logo
        width: 134px     

    &__content-container
        display: flex
        position: relative
    &__first-elipse
        position: absolute
        top: 9px
        right: 94px

    &__second-elipse
        position: absolute
        right: -120px
        top: 650px

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        font-weight: bold
        margin-right: 64px
        font-size: 20px
        cursor: pointer
        &:last-child
            margin-right: 0px
        a
            text-decoration: none
            color: black



.left-wrapper
    position: relative
    img
        position: relative
        z-index: 2
    &__rectangle-blue
        position: absolute
        top: 150px
        left: 90px
        
        transform: rotate(-40deg)
        width: 567px
        height: 200px
        background: $color-blue        
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 25)


    &__rectangle-orange
            position: absolute 
            top: 240px
            left: 180px
            z-index: 1
            transform: rotate(-45deg)
            background: $color-orange
            width: 602px
            height: 200px
            border-radius: 100px
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 25)

    &__rectangle-grey
            position: absolute
            top: 320px
            left: 250px
            transform: rotate(-34deg)

            background: $color-grey
            width: 602px
            height: 200px
            border-radius: 100px
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 25)
            

.right-wrapper
    z-index: 1
    width: 377px
    position: absolute
    right: 50px
    top: 30px
    &__icons-box
        margin-bottom: 2px
        padding-left: 5px 
    &__title
        margin-bottom: 5px
        
    &__text
        font-size: 16px
        margin-bottom: 20px
.icons
    display: flex 
   
    &__item 
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid $color-blue
        border-radius: 100px 
        margin-right: 17px
        cursor: pointer
        &:last-child
            margin-right: 0px
    i
        font-size: 27px  
        color: black
        a
            text-decoration: none
          
            
    
.title
    font-size: 72px
    font-weight: bold
    position: relative
    &__hr
        width: 57px 
        position: absolute
        margin: 0
        bottom: 0px
        border: 0px
        border-top: 1px solid black

.buttons
    display: flex
    flex-direction: row
    align-items: end
    &__main-btn
        margin-right: 12px
        width: 197px
        height: 54px
        background-color: #FF8800
        border: 0px
        border-radius: 50px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 25)
        color: white
        font-size: 16px
        cursor: pointer
    &__icon-btn
        display: flex
        align-items: center
        img
            margin-right: 12px
            cursor: pointer


.elipse
    display: flex
    justify-content: center
    align-items: center
    width: 217px
    height: 217px
    border-radius: 150px
    background: $gradient
    &__subtract
        width: 131.52px
        height: 131.52px
        background: #F0F0F0
        border-radius: 100px
        &_big
            width: 188px
            height: 188px

    &_big
        width: 282px    
        height: 282px

        
.second-section
    min-height: 700px
    &__container
        padding-top: 32px
        position: relative
        overflow: hidden
    &__title
        margin-bottom: 40px
        padding-left: 100px
    &__card-box
        display: flex
        justify-content: center
        margin: 0 auto
        margin-bottom: 25px
    &__cards-item
        margin-right: 30px
        &:last-child
            margin: 0
    &__icons-box
        display: flex
        justify-content: space-between
        margin: 0 auto
        width: 513px
    &__icons-item
        margin-right: 110px
        &:last-child
            margin: 0

    &__first-elipse
        position: absolute
        top: 80px
        right: -4px
        z-index: -1

    &__second-elipse
        position: absolute
        top: 364px
        left: 15px
        z-index: -1

.cards-item
    position: relative
    width: 360px
    height: 360px
    background-color: #DBDBDB
    border-radius: 10px
    display: flex
    align-items: flex-end
    &__img
        height: 335px
        padding-left: 50px
    
    &__text
        text-align: center
        width: 280px
        font-size: 36px
        transform: rotate(90deg)
        position: absolute
        top: 139px
        right: -50px
        font-weight: bold



.cards-item_orange
    background-color: $color-orange

.cards-item_blue
    background-color: $color-blue


.icons-item
    display: flex
    align-items: center
    &__img
        margin-right: 20px
        width: 80px
    &__text
        font-size: 18px
        span
            font-size: 48px
            font-weight: bold

.third-section
    overflow: hidden
    position: relative
    min-height: 640px
    z-index: 0
    background: #DBDBDB
    &__container
        position: relative
        display: flex
        align-items: center
        justify-content: space-between
        padding-left: 167px
        padding-top: 46px
    &__right-wrapper 
        max-width: 480px
        &__right-title
            margin-bottom: 20px
            
    &__text
        font-size: 18px
        margin-bottom: 30px
    &__first-elipse
        position: absolute
        z-index: -1
        top: 149px  
        left: 93px
    &__figure
        position: absolute
        top: 250px
        left: 37px
        z-index: -1
    &__second-elipse
        z-index: -1
        position: absolute
        right: -89px
        top: -106px

.title__hr_top
    bottom: 75px


.footer
    &__img
        position: absolute
        left: -17px
        bottom: -6px
    &__container
        min-height: 350px
        max-height: 340px
        display: flex
        align-items: center
        justify-content: end
    &__wrapper
        width: 550px
    &__title
        margin-bottom: 20px


@media (max-width: 1199px)
   
    .main-section
     min-height: 653px

     &__content-container
            height: 573px
     &__first-elipse
        right: 72px
     &__second-elipse
        top: 455px

     .left-wrapper
        img
            width: 667px
            right: 63px

        &__rectangle-blue
            top: 66px
            left: 65px
            transform: rotate(-40deg)
            width: 334px
            height: 187px
        &__rectangle-orange
            top: 117px
            left: 127px
            transform: rotate(-40deg)
            width: 356px
            height: 172px
        &__rectangle-grey
            top: 188px
            left: 175px
            transform: rotate(-35deg)
            width: 381px
            height: 187px
                
     .right-wrapper
        right: 1px

    .second-section
        min-height: 600px
        &__first-elipse
            top: 57px
            right: 28px
        &__second-elipse
            top: 308px
            left: 40px
        &__icons-box
            justify-content: center
            
    .cards-item
        width: 300px
        height: 300px
        margin-right: 20px  
        &__img
            height: 283px
            padding-left: 30px      
        &__text
            font-size: 30px
            top: 126px


    .third-section
        &__container
              padding-left: 122%
              margin-right: 45px
        &__right-wrapper
            max-width: 450px
        &__left-title
            top: -30px

@media (max-width: 991px)
    .title
        font-size: 60px
    .buttons
        margin-bottom: 15px
    .main-section
     min-height: 518px   
     &__content-container
        max-height: 419px
     &__first-elipse
        right: 8px
     &__second-elipse
        top: 412px  

     .left-wrapper
        img
            width: 527px
            right: 73px
            

        &__rectangle-blue
            top: 46px
            left: 52px
            transform: rotate(-40deg)
            width: 234px
            height: 130px
        &__rectangle-orange
            top: 93px
            left: 58px
            transform: rotate(-40deg)
            width: 307px
            height: 130px
        &__rectangle-grey
            top: 152px
            left: 132px
            transform: rotate(-40deg)
            width: 266px
            height: 130px
                
     .right-wrapper
        right: -51px
        &__title
            right: -77px
        &__icons-box
            justify-content: center
            padding: 0
        &__text
            margin-bottom: 6px
            text-align: center
        &__button
            position: relative
            right: -85px
            flex-direction: column
            width: 200px
            align-items: center

        .buttons
            &__main-btn
                margin: 0px 0px 6px 0px
                

    .second-section
        &__container
            padding-top: 15px
        &__first-elipse
            top: 64px
            right: -34px
  
        &__second-elipse
            top: 304px
            left: -130px
  
        &__icons-box

        &__title
            margin-bottom: 18px
            padding-left: 15px    
            
    .cards-item
        &__img
        &__text


    .third-section
        &__text
            margin-bottom: 10px
        &__container
            justify-content: center
        &__right-wrapper
        &__left-title
        &__right-title
            font-size: 50px
        
        .title__hr_top
            bottom: 53px
            width: 43px

    .footer
        margin: 0
        &__container
            margin: 0
            overflow: hidden
        &__img
            width: 500px
            left: -81px
        &__title
            font-size: 40px
            width: 290px
        &__wrapper
            width: 222px
            position: relative
            left: -60px

            

    .container
        width: 720px

@media (max-width: 767px)
    .container
        width: 540px

    .nav-menu
        display: none
    .hamburger
        width: 30px
        position: absolute
        top: 40px
        right: 30px 
        height: 14px
        span
            height: 2px
            width: 100%
            display: block
            background: black
            margin-bottom: 4px
            transition: 1s all
            &:last-child
                margin: 0
    .hamburger_active
        span
            margin-bottom: -2px
            &:nth-child(1)
                transform: translateY(3px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(3px) rotate(45deg)
                
                
                

@media (max-width: 575px)
    .container
        width: 100%

