* {
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: "MontserratT";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: regular;
}
@font-face {
  font-family: "MontserratT";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
html {
  font-family: "MontserratT";
  font-weight: regular;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF662C;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

body::-webkit-scrollbar-track {
  background-color: #988C8C;
  border-radius: 6px;
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 900px;
  position: relative;
}

.main-section {
  min-height: 800px;
  background: #F0F0F0;
  padding-top: 16px;
  position: relative;
  overflow: hidden;
}
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}
.main-section__nav-container__logo {
  width: 134px;
}
.main-section__logo {
  width: 134px;
}
.main-section__content-container {
  display: flex;
  position: relative;
}
.main-section__first-elipse {
  position: absolute;
  top: 9px;
  right: 94px;
}
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  font-weight: bold;
  margin-right: 64px;
  font-size: 20px;
  cursor: pointer;
}
.nav-menu__list-item:last-child {
  margin-right: 0px;
}
.nav-menu__list-item a {
  text-decoration: none;
  color: black;
}

.left-wrapper {
  position: relative;
}
.left-wrapper img {
  position: relative;
  z-index: 2;
}
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 150px;
  left: 90px;
  transform: rotate(-40deg);
  width: 567px;
  height: 200px;
  background: #2778F6;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
}
.left-wrapper__rectangle-orange {
  position: absolute;
  top: 240px;
  left: 180px;
  z-index: 1;
  transform: rotate(-45deg);
  background: #FF662C;
  width: 602px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
}
.left-wrapper__rectangle-grey {
  position: absolute;
  top: 320px;
  left: 250px;
  transform: rotate(-34deg);
  background: #988C8C;
  width: 602px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.right-wrapper {
  z-index: 1;
  width: 377px;
  position: absolute;
  right: 50px;
  top: 30px;
}
.right-wrapper__icons-box {
  margin-bottom: 2px;
  padding-left: 5px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #2778F6;
  border-radius: 100px;
  margin-right: 17px;
  cursor: pointer;
}
.icons__item:last-child {
  margin-right: 0px;
}
.icons i {
  font-size: 27px;
}

.title {
  font-size: 72px;
  font-weight: bold;
  position: relative;
}
.title__hr {
  width: 57px;
  position: absolute;
  margin: 0;
  bottom: 0px;
  border: 0px;
  border-top: 1px solid black;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.buttons__main-btn {
  margin-right: 12px;
  width: 197px;
  height: 54px;
  background-color: #FF8800;
  border: 0px;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.buttons__icon-btn {
  display: flex;
  align-items: center;
}
.buttons__icon-btn img {
  margin-right: 12px;
  cursor: pointer;
}

.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 217px;
  border-radius: 150px;
  background: linear-gradient(45deg, rgb(65, 121, 226) 4%, rgb(77, 58, 58) 48%, rgb(255, 102, 44) 97%);
}
.elipse__subtract {
  width: 131.52px;
  height: 131.52px;
  background: #F0F0F0;
  border-radius: 100px;
}
.elipse__subtract_big {
  width: 188px;
  height: 188px;
}
.elipse_big {
  width: 282px;
  height: 282px;
}

.second-section {
  min-height: 700px;
}
.second-section__container {
  padding-top: 32px;
  position: relative;
  overflow: hidden;
}
.second-section__title {
  margin-bottom: 40px;
  padding-left: 100px;
}
.second-section__card-box {
  display: flex;
  width: 1143px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.second-section__cards-item {
  margin-right: 30px;
}
.second-section__cards-item:last-child {
  margin: 0;
}
.second-section__icons-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 513px;
}
.second-section__icons-item {
  margin-right: 110px;
}
.second-section__icons-item:last-child {
  margin: 0;
}
.second-section__first-elipse {
  position: absolute;
  top: 80px;
  right: -4px;
  z-index: -1;
}
.second-section__second-elipse {
  position: absolute;
  top: 364px;
  left: 15px;
  z-index: -1;
}

.cards-item {
  position: relative;
  width: 360px;
  height: 360px;
  background-color: #DBDBDB;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.cards-item__img {
  height: 335px;
  padding-left: 50px;
}
.cards-item__text {
  width: 280px;
  font-size: 36px;
  transform: rotate(90deg);
  position: absolute;
  top: 222px;
  right: -50px;
  font-weight: bold;
}

.cards-item_orange {
  background-color: #FF662C;
}

.cards-item_blue {
  background-color: #2778F6;
}

.icons-item {
  display: flex;
  align-items: center;
}
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}
.icons-item__text {
  font-size: 18px;
}
.icons-item__text span {
  font-size: 48px;
  font-weight: bold;
}

.third-section {
  overflow: hidden;
  position: relative;
  min-height: 640px;
  z-index: 0;
  background: #DBDBDB;
}
.third-section__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 167px;
  padding-top: 46px;
}
.third-section__right-wrapper {
  max-width: 480px;
}
.third-section__right-wrapper__right-title {
  margin-bottom: 20px;
}
.third-section__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.third-section__first-elipse {
  position: absolute;
  z-index: -1;
  top: 290px;
  left: 93px;
}
.third-section__figure {
  position: absolute;
  top: 375px;
  left: 37px;
  z-index: -1;
}
.third-section__second-elipse {
  z-index: -1;
  position: absolute;
  right: -89px;
  top: -106px;
}

.title__hr_top {
  bottom: 75px;
}

.footer__img {
  position: absolute;
  left: -17px;
  bottom: -6px;
}
.footer__container {
  min-height: 272px;
  max-height: 340px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer__wrapper {
  width: 550px;
}
.footer__title {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
